* {
box-sizing: border-box;
  color: white;
}


body {
  display: grid;
  justify-items: center;
  background-color: green;
}

#content-wrapper {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 20vh auto;
  grid-template-areas: 
    "header header header"
    "nav main main";
  gap: 1rem;
  background-color: green;
  width: 100%;
  max-width: 1349px;
  border-radius: 1rem;
  padding: 1rem;

  }

header {
  grid-area: header;
  background-color: black;
  border-radius: 2rem;
  text-align: center;
}

nav {
  grid-area: nav;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: black;
  border-radius: 1rem;
  width: 100%;
  height: 100%;
  text-align: center;
  }

nav ul li {
  font-weight: bolder;
}

.level-button:hover {
  cursor: pointer; 
}

main {
  grid-area: main;
  background-color: black;
  border-radius: 1rem;
  width: 100%;
  text-align: center;
  }

ul {
  list-style-type: none;
  padding: 0;
}

li {
  width: 100%;
  margin-bottom: 1rem;
}

