* {
box-sizing: border-box;
  color: white;
}


body {
  display: grid;
  justify-items: center;
  background-color: white;
}

#content-wrapper {
  display: grid;
  grid-template-areas: 
    "header header header"
    "nav main main";
  background-color: black;
  max-width: 1349px;
  }

header {
  grid-area: header;
  background-color: green;
}

nav {
  grid-area: nav;
  background-color: blue;
  }

main {
  grid-area: main;
  background-color: purple;
  }

